@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mountains+of+Christmas:wght@700&display=swap');

* {
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
}

/* Animations */

.shake {
	animation: shake-animation 4.72s ease infinite;
	transform-origin: 50% 50%;
}

@keyframes shake-animation {
	0% {
		transform: translate(0, 0);
	}
	1.78571% {
		transform: translate(5px, 0);
	}
	3.57143% {
		transform: translate(0, 0);
	}
	5.35714% {
		transform: translate(5px, 0);
	}
	7.14286% {
		transform: translate(0, 0);
	}
	8.92857% {
		transform: translate(5px, 0);
	}
	10.71429% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(0, 0);
	}
}

.pop-in {
	animation: show 0.3s ease-in;
}

@keyframes show {
	from {
		opacity: 0;
		transform: translateY(-3rem);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('../assets/snowflakes-red-background.svg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 30rem;
	background-color: white;
	padding: 1rem 0;
	border-radius: 1rem;
	box-shadow: 5px 5px 15px 5px #000000ab;
	position: relative;
}
.title h1 {
	display: flex;
	font-size: 3.5rem;
	font-family: 'Mountains of Christmas', cursive;
	margin-bottom: 0;
}

#decoration-top {
	position: absolute;
	top: -50px;
	right: -90px;
	width: 150px;
	transform: rotate(15deg);
	filter: drop-shadow(5px 5px 8px black);
	transition: filter 0.2s ease-in;
}
/* 
@media (max-width: 680px) {
	.title h1 {
		font-size: 1.5rem;
		font-family: 'Mountains of Christmas', cursive;
	}
} */

/* Form */
.giftListForm {
	display: flex;
	align-items: center;
	flex-direction: row;
	padding: 2rem;
}

#inputGift {
	font-size: 1rem;
	padding: 0.5rem;
	background-color: rgb(240, 240, 240);
	border-radius: 0.5rem;
	border: none;
}
#inputGift:focus {
	background-color: rgb(220, 20, 60, 0.2);
	transition: 0.3s;
}
#submitGift {
	font-size: 1rem;
	padding: 0.5rem;
	border-radius: 0.5rem;
	cursor: pointer;
	border: none;
}
#submitGift:hover {
	color: white;
	background-color: rgb(0, 128, 0, 0.5);
	transition: 0.3s;
}

/* List of gifts */
.giftList {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	text-align: center;
}

.giftList ul {
	display: flex;
	flex-direction: column;
	width: 100%;
}
#list li {
	font-size: 1.2rem;
	list-style-type: none;
}

.giftList li:nth-child(odd) {
	background-color: rgb(105, 105, 105, 0.2);
}

.giftList li:hover {
	background-color: rgb(0, 128, 0, 0.5);
	transition: 0.3s;
}
